.columns-promo > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns-promo img {
  width: 100%;
  display: block;
}

.columns-promo > div > div {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.columns-promo > div > .columns-promo-img-col {
  order: 0;
  line-height: 0;
}

@media (width >= 900px) {
  .columns-promo > div {
    align-items: center;
    flex-direction: unset;
    gap: 48px;
  }

  .columns-promo > div > div {
    flex: 1;
    order: unset;
  }
}
