/* stylelint-disable max-line-length */

/*
 * Red Hat Text: variable font (weights 300–700), Latin subset, self-hosted.
 * SIL Open Font License 1.1, see fonts/red-hat-text-OFL.txt.
 * Stands in for arrow.com's licensed ArrowDisplay; to switch fonts, change these
 * faces and the --body-font-family / --heading-font-family variables.
 */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('../fonts/red-hat-text-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Red Hat Text';
  font-style: italic;
  font-weight: 300 700;
  font-display: swap;
  src: url('../fonts/red-hat-text-italic-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
